.hw-storage {
  width: 950px;
  height: 300px;
  position: absolute;
  top: 1490px;
  left: 60px;
  background-image: url("@/assets/images/container-storage.png");
  background-size: 100%;
  .disk-list{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 170px;
  }
  .disk-count{
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 130px;
    left: 780px;
  }
  .disk-status{
    position: absolute;
    left: 820px;
    right: 10px;
    top: 10px;
    bottom: 50px;
  }
  .type {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 120px;
    text-align: center;
    font-size: 34px;
    font-family: "Agency FB", serif;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f7ea00;
  }
}
